ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}

ul li a:hover {
    color: #cccccc;
    border-radius: 5px;
}

.nav-link {
    position: relative;
    color: black;
    text-decoration: none;
  }
  .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.2s ease, left 0.3s ease;
    transform: translateX(-50%);
  }
  .nav-link:hover::before,
  .nav-link.active::before {
    width: calc(100% - 10px);
  }