<ul class="nav justify-content-center">
    <li class="nav-item">
      <div class="d-flex align-items-center mt-2" style="margin-right: 20px;">
        <img src="https://media.discordapp.net/attachments/1192458056576028705/1220720065029214248/Unbenannt.png?ex=660ff727&is=65fd8227&hm=b244e0b91b0743196850c27efedac811bf1213583480830e9985b9092761bbc0&=&format=webp&quality=lossless&width=671&height=671" class="at-logo">
        <h3>ArchiTect</h3>
      </div>
    <li class="nav-item notLogo mx-md-4">
      <a class="nav-link" (click)="navigateTo('home')">Home</a>
    </li>
    <li class="nav-item notLogo mx-md-4">
      <a class="nav-link" (click)="navigateTo('command-list')">Command List</a>
    </li>
    <li class="nav-item notLogo mx-md-4">
      <a class="nav-link" (click)="navigateTo('about-us')">About Us</a>
    </li>
</ul>