.container {
    background-color: rgba(0, 0, 0, 0.363);
    border-radius: 10px;
    width: 80%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.title {
    color: #ffffff;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 5px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #aaa;
}

td {
    color: white;
}

th, .command-name {
    color: #8581FF;
}

th {
    font-weight: bold;
}