<section class="text-gray-400 bg-gray-900 body-font my-5">
    <div class="container px-5 py-24 mx-auto">
        <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
            <p class="leading-relaxed text-lg">Sorry, the page you are looking for could not be found.</p>
            <span class="inline-block h-1 w-10 rounded bg-indigo-500 mt-8 mb-6"></span>
            <h2 class="text-white font-medium title-font tracking-wider text-sm">404 Error</h2>
            <p class="text-gray-500">The requested page does not exist.</p>
        </div>
    </div>
</section>
