
<div class="container my-5">
    <h1 class="my-5">Welcome to the official ArchiTect Website!</h1>
    <div class="actions-containers my-5">
        <div class="action">
            <h3>Add ArchiTect to your Discord Server:</h3>
            <div>
                <img src="https://media.discordapp.net/attachments/1192458056576028705/1215598007421116516/Archtect.jpg?ex=660fc9dd&is=65fd54dd&hm=40510853a1a83b8dbcc0850c97a4c8a25d9c739cdeb73ebdba3f4422a9412bd4&=&format=webp" class="at-logo">
                <a href="" class="link-button">Add to Discord</a>
            </div>
        </div>
        <div class="action">
            <h3>Join the Architect Discord Server:</h3>
            <div>
                <img src="https://cdn.discordapp.com/attachments/1192458056576028705/1220731457081708626/kisspng-discord-computer-icons-logo-simplify-5aea4b0b9a5315.3824979315253040756321.jpg?ex=661001c3&is=65fd8cc3&hm=f5e82d3a8a007e5606966e15c63f9c3b1b3095d65ad6a5407bf528bb694c3aea&" class="at-logo">
                <a href="" class="link-button">Join</a>
            </div>
        </div>
    </div>
    <div class="under-actions">
        <div>
            <h4 class="title">What we offer:</h4>
            <ul class="description">
                <li>Friendly and well experienced developers to code with you</li>
                <li>Active staff and community</li>
                <li>Our well structured bot helps you to set up your discord server of any type</li>
                <li>Daily updates, new features</li>
                <li>And other exciting events in connection with programming</li>
            </ul>
        </div>
        <div>
            <h4 class="title">What we need:</h4>
            <ul class="description">
                <li>You, of course!</li>
                <li>Your opinion and suggestions for improvement about our bot</li>
            </ul>
        </div>
        <div class="my-5">
            <h4 class="title">You can submit your opinion or improvements in our Discord Server anytime and we will kindly receive your feedback about the Bot</h4>
        </div>
    </div>
</div>